root {
    display: block;
}
body{
    font-size: 1.2em;
}

/* LISTページ */
#list{
    border: 1px solid #666;
    font-size: 100%;
}
#list td {
    border-top: 1px solid #666;
}

/* MENU */
#menu td{
    text-align: center;
    margin-bottom: 20px;
    width: 170px;
    height: 40px;
    background-color: #000;
    color: #FFF;
    font-size: 20px;
}
#menu a{
    color: #FFF;
}
#menu a:hover{
    color: #f60;
}
#menu a:active{
    color: #fff;
}

/* 詳細ページ */
#select_one{
    width:900px;
}
#select_one td{
    border: 1px solid #555;
}

.ltitle{
    width:200px;
    text-align: left;
    background-color: #ccc;
    font-weight: bold;
}
.rtitle{
    width:700px;
    text-align: left;
    background-color: #fff;
}

.c_btn{
    text-align: center;
}

.test{
  /*background: linear-gradient(-135deg,#404040,#666666);*/
  background:#1582BB;
  height:80px;
  width:100%;
  display:flex;
}


.header_box{
  padding-top:20px;
}

.test_text{
  color:white;
  padding-right:20px;
  font-size:25px;
  font-family: 'Exo 2', sans-serif;
  width:100%;
}


.box_check{
  margin-left:20px;
  margin-bottom:30px;
  margin-top:10px;
}


h3{
  margin-left:15px;
}

h4{
  margin-left:20px
}

.body_wrapper{
  padding:0;
}

.edit_box{
  text-align:right;
}

.comment_box{
  background-color: #eeeeee;
  margin-bottom:20px;
  border-radius: 10px;
  width:85%;
}



.sort_box{
  height:50px;
  width:220px;
  flex-direction: row;
}

.vote_sort{
  padding-top:10px;
}

.comment_sort{
  padding-top:10px;
}



.sort_box a{
  color:#000;
}

.sort_box a:hover{
  color:red;
}

.sort{
  display: flex;
}



.comment_sort a{
  color:#000;
}


.sum_sort a{
  color: #00AAD8;
}

.box{
  width:100%;
  display: inline-block;
  word-wrap: break-word;
  padding-bottom: 10px;
  background: #eeeeee;
  margin-bottom: 10px;
}

.sub_box{
    text-align:right;
    border-bottom:1px solid #000;
    margin-bottom:20px;
    padding-right:10px;
  }

.serch_box{
  right:0;
  margin-top:10px;
  margin-bottom:10px;
}

li{
   display: inline-block;
   padding: 6px;
   background: #ccc;
   border-radius: 4px;
   margin-right: 4px;
}

.header_right{
  color:white;
  padding-top:20px;
  margin-left:auto;
  padding-right:20px;
}

.header_right a{
  color:white;
}

.jumbotron p{
  padding-left:10px;
}
